<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="Domain" value="http://edu.huongvietedm.vn/" />
		<add key="RouteUpdate" value="/get-version/check-version" />
		<add key="Name" value="Lưu trữ cơ quan EDM" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<!--Role trường-->
		<!--<add key="Role" value="School" />-->
		<!--Role phòng-->
		<!--<add key="Role" value="EducationDepartment" />-->
		<!--Role sở-->
		<add key="Role" value="DepartmentOfEducation" />

		<!--Sao sài gòn-->
		<add key="Company" value="SSG" />
		<!--Hương việt-->
		<!--<add key="Company" value="HV" />-->
	</appSettings>
</configuration>